* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(58, 136, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    width: 340px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 15px;
}

.container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}


.container p:nth-last-child(-n+3) {
    font-weight: bold;
    color: #111;
}

span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(58, 136, 246);
    color: #fff;
}