body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #4a90e2;
}


.form-box {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 280px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.form-box input,
button {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #007aff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}
