<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student</title>
</head>
<body>
    <h1>Add New Student</h1>
    <form action="/home/" method="post">
        <input type="text" name="name" value="" placeholder="Name" required><br><br>
        <input type="text" name="usn" value="" placeholder="USN" required><br><br>
        <input type="email" name="email" value="" placeholder="Email" required><br><br>

        Enter Scores:
        <br><br>
        <input type="number" name="marksIA1" value="" id=""><br>><br>
        <input type="number" name="marksIA2" value="" id=""><br><br>
        <input type="number" name="marksIA3" value="" id=""><br><br>


        <button>Submit</button>
    </form>
</body>
</html>