<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <h1>Blood Link</h1>

        <p>Donate blood, save lives — it’s the simplest way to make a difference.</p>
        <p>Your blood can give someone another chance at life.</p>
        <p>A single drop of your blood can be a drop of hope for someone.</p>
        <form action="/list" method="get">
            <button>Donors List</button>
        </form>

        <form action="/groups">
            <button>Groups</button>
        </form>
    </div>


</body>
</html>