<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry!</title>
</head>
<style>
    body{
        background-color: #f4f7fb;
        text-align: center;
    }
    h1{
        text-align: center;
         font-family: Arial, Helvetica, sans-serif;
         color: #c62828;
    }
    button{
        margin: 10px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<body>
    <h1>No Donors Found</h1>
    <form action="http://localhost:8080/groups">
        <button>Back</button>
    </form>
</body>
</html>