body{
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background: #f2f2f2;
}

h1{
    text-align: center;
}

div{
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

p{
    padding: 8px;
    background: #eaeaea;
    border-radius: 5px;
    margin-bottom: 8px;
}

button{
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    border: none;
    background: royalblue;
    color: white;
    border-radius: 6px;
}

button a{
    text-decoration: none;
    color: white;
}
