<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>The To-Do List</h1>

    <div>
        <% todos.forEach((todo) => { %>
            <p><%=todo %></p>
            <form action="http://localhost:8080/<%=todos.indexOf(todo)%>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>

       <form action="http://localhost:8080/<%=todos.indexOf(todo)%>" method="get">
        <button>Edit</button>
       </form>
        <% }) %>
        </div>

    <button><a href="http://localhost:8080/create">Create a todo</a></button>
</body>
</html>