<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <h2>Edit your name!!</h2>
    <form action="/?_method=PATCH" method="post">
        <p>Name</p><input type="text" name="name"><br><br>
        <p>Age</p><input type="text" name="age">
        <button type="submit">Submit</button>
    </form>
</body>
</html>