body{
    margin:0;
    font-family: sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    background:#f2f2f2;
}

h2{
    margin-bottom:15px;
}

form{
    display:flex;
    gap:10px;
}

input,button{
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    background:#007bff;
    color:#fff;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#005fcc;
}
